.carousel {
	width: 350px;
	height: 500px;
	margin: auto;
}

@media (max-width: 350px) {
	.carousel {
		width: auto;
		height: auto;
	}
}

.homeCarousel {
	width: 330px;
	height: 330px;
	margin: 10px auto;
}

@media (max-width: 330px) {
	.homeCarousel {
		width: auto;
		height: auto;
	}
}
